<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Image Processing App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Image Processing App</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
      <label for="file_upload">Select an image file:</label>
      <input type="file" name="file_upload" id="file_upload" accept=".jpg, .jpeg, .png">
      <br><br>
      <button type="submit">Process Image</button>
    </form>
  </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Image Processing App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Interpolation</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
      <label for="file_upload">Choisir une image:</label>
      <input type="file" name="file_upload" id="file_upload" accept=".jpg, .jpeg, .png" onchange="previewImage(event)">
      <button id="submit_button" type="submit">Généré</button>
      <div id="image_preview" class="preview"></div>
    </form>
    <script>
      function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
          var output = document.getElementById('image_preview');
          output.innerHTML = '<img class="preview_image" src="' + reader.result + '" width="200">';
        }
        reader.readAsDataURL(event.target.files[0]);
      }
    </script>
  </body>
</html>
